In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('blackfriday_copy.csv')

In [5]:
dataset.head()

,Unnamed: 0,User_ID,Product_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,0-17,...,F,M,A,B,C,0,1,2,3,4+
0,0,1000001,69042,10,0,3,9.842329,12.668243,8370,1,...,1,0,1,0,0,0,0,1,0,0
1,1,1000001,248942,10,0,1,6.000000,14.000000,15200,1,...,1,0,1,0,0,0,0,1,0,0
2,2,1000001,87842,10,0,12,9.842329,12.668243,1422,1,...,1,0,1,0,0,0,0,1,0,0
3,3,1000001,85442,10,0,12,14.000000,12.668243,1057,1,...,1,0,1,0,0,0,0,1,0,0
4,4,1000002,285442,16,0,8,9.842329,12.668243,7969,0,...,0,1,0,0,1,0,0,0,0,1

In [6]:
print(len(dataset))

550068

In [8]:
dataset.isnull().any()

Unnamed: 0            False
User_ID               False
Product_ID            False
Occupation            False
Marital_Status        False
Product_Category_1    False
Product_Category_2    False
Product_Category_3    False
Purchase              False
0-17                  False
18-25                 False
26-35                 False
36-45                 False
46-50                 False
51-55                 False
55+                   False
F                     False
M                     False
A                     False
B                     False
C                     False
0                     False
1                     False
2                     False
3                     False
4+                    False
dtype: bool

In [7]:
import math

fh = open("blackfriday_copy.csv","r")
i=0
r=0
for line in fh:
    if i==0:
        headers = line.split(",")
    else:
        data = line.split(",")
        naive_bid = float(data[headers.index("bid49")])
        naive_ask = float(data[headers.index("ask49")])
        for j in range(headers.index("bid51"),len(headers),2):
            r+=(float(data[j])-naive_bid)**2
        for j in range(headers.index("ask51"),len(headers),2):
            r+=(float(data[j])-naive_ask)**2
    i+=1
fh.close()

print("RMSE: {0}".format(math.sqrt(r/(100*i))))

ValueError: 'bid49' is not in list