Dictionaries

In [3]:
employee = {'name': 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}
print(employee)

{'name': 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}

In [4]:
print(employee['name'])

Mallikharjun

In [5]:
print(employee['Skills'])

['Python', 'R']

In [7]:
employee = {1: 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}
print(employee[1])

Mallikharjun

In [9]:
employee = {'name': 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}
print(employee['Salary'])

KeyError: 'Salary'

In [10]:
print(employee.get('name'))

Mallikharjun

In [11]:
# get method will give the 
print(employee.get('Salary'))

None

In [12]:
#update the values
employee['Salary'] = '50000'
employee['name'] = 'Latha'

print(employee)

{'name': 'Latha', 'age': 34, 'Skills': ['Python', 'R'], 'Salary': '50000'}

**Method-2** Update the values

In [13]:
employee = {'name': 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}
print(employee)

{'name': 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}

In [14]:
employee.update({'name': 'Latha', 'age': 34, 'Skills': ['Python', 'R'], 'Salary': '50000'})
print(employee)

{'name': 'Latha', 'age': 34, 'Skills': ['Python', 'R'], 'Salary': '50000'}

**Delete** key

In [15]:
del employee['age']
print(employee)

{'name': 'Latha', 'Skills': ['Python', 'R'], 'Salary': '50000'}

**Mehod -2 **
**Delete Key**

In [16]:
employee = {'name': 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}

age = employee.pop('age')

print(employee)
print(age)

{'name': 'Mallikharjun', 'Skills': ['Python', 'R']}
34

How many keys in the dictionary

In [17]:
employee = {'name': 'Mallikharjun', 'age': 34, 'Skills': ['Python', 'R']}

print(len(employee))

3

In [18]:
print(employee.items())

dict_items([('name', 'Mallikharjun'), ('age', 34), ('Skills', ['Python', 'R'])])

In [19]:
for key in employee:
    print(key)

name
age
Skills

In [23]:
for key,value in employee.items():
    print(key, value)

name Mallikharjun
age 34
Skills ['Python', 'R']