**Lists**

In [15]:
Employee = ["Id", "Name", "Exp"]
print(Employee)

['Id', 'Name', 'Exp']

In [2]:
# Add new item to Employee list
Employee.append("Salary")
print(Employee)

['Id', 'Name', 'Exp', 'Salary']

In [2]:
# add new item in perticular index 
Employee.insert(0, "Salary")
print(Employee)

['Salary', 'Id', 'Name', 'Exp']

In [3]:
# Insert the values from the list
# list in a list
Employee_2 =["Location", "Grade"]
Employee.insert(0, Employee_2)
print(Employee)

[['Location', 'Grade'], 'Id', 'Name', 'Exp']

In [4]:
print(Employee[0])

['Location', 'Grade']

In [2]:
# append the values from the list
Employee_2 =["Location", "Grade"]
Employee.append(Employee_2)
print(Employee)

['Id', 'Name', 'Exp', ['Location', 'Grade']]

In [16]:
# alternative for append to avoid list in the list use extend
# Extend the values from the list
Employee_2 =["Location", "Grade"]
Employee.extend(Employee_2)
print(Employee)

['Id', 'Name', 'Exp', 'Location', 'Grade']

In [3]:
# Remove value from the list
Employee.remove("Exp")
print(Employee)

['Id', 'Name', 'Location', 'Grade']

In [3]:
# pop is the way to remove the value from the list
# it will remove the last value of the list
popped = Employee.pop()
print(popped)
print(Employee)

Grade
['Id', 'Name', 'Exp', 'Location']

In [4]:
# select first two values from the list
Employee[:2]

['Id', 'Name']

In [5]:
# select last two values from the list
Employee[2:]

['Exp', 'Location']

**Sorting**

In [4]:
Employee.sort(reverse=True)
print(Employee)

['Name', 'Location', 'Id', 'Grade', 'Exp']

In [5]:
num = [5, 3, 4, 1, 2]
num.sort(reverse=True)
print(num)

[5, 4, 3, 2, 1]

In [6]:
num.sort(reverse=False)
print(num)

[1, 2, 3, 4, 5]

In [10]:
sorted(Employee)
print(Employee)

['Id', 'Name', 'Exp', 'Location', 'Grade']

In [11]:
sorted_Employee = sorted(Employee)
print(sorted_Employee)

['Exp', 'Grade', 'Id', 'Location', 'Name']

In [12]:
print(min(num))

1

In [13]:
print(max(num))

5

In [14]:
print(sum(num))

15

In [17]:
# Find the index of the certain value
print(Employee.index('Location'))

3

In [18]:
print('Salary' in Employee)

False

In [20]:
print('Id' in Employee)

True

In [21]:
for item in Employee:
    print(item) # item is here namelsee, we can use any name

Id
Name
Exp
Location
Grade

In [22]:
# enumerate function : 
for index, item in enumerate(Employee):
    print(index, item)

0 Id
1 Name
2 Exp
3 Location
4 Grade

In [23]:
# Start argument : 
for index, item in enumerate(Employee, start=1):
    print(index, item)

1 Id
2 Name
3 Exp
4 Location
5 Grade

**Convert list into String**

In [24]:
employee_str = ', '.join(Employee)
print(employee_str)

Id, Name, Exp, Location, Grade

In [26]:
employee_str = ' - '.join(Employee)
print(employee_str)

Id - Name - Exp - Location - Grade

In [27]:
employee_str = ' - '.join(Employee)
employee_list = employee_str.split(' - ')
print(employee_str)
print(employee_list)

Id - Name - Exp - Location - Grade
['Id', 'Name', 'Exp', 'Location', 'Grade']

**TUPLES**
    - Lists are mutable
    - Tuples are Immutable

In [28]:
list_1 = ['Id', 'Name', 'Exp', 'Location', 'Grade']
list_2 = list_1

print(list_1)
print(list_2)

['Id', 'Name', 'Exp', 'Location', 'Grade']
['Id', 'Name', 'Exp', 'Location', 'Grade']

In [31]:
list_1[4] = 'Salary'
print(list_1)
print(list_2)

['Id', 'Name', 'Exp', 'Location', 'Salary']
['Id', 'Name', 'Exp', 'Location', 'Salary']

4th index value is changed to "Salary" because list is **mutable**

**Immutable**

In [2]:
tuple1 = ('Id', 'Name', 'Exp', 'Location', 'Grade')
tuple2 = tuple1

print(tuple1)
print(tuple2)

('Id', 'Name', 'Exp', 'Location', 'Grade')
('Id', 'Name', 'Exp', 'Location', 'Grade')

In [3]:
tuple1[4] = 'Salary'

print(tuple1)
print(tuple2)

TypeError: 'tuple' object does not support item assignment

**Sets**

In [17]:
employee = {'Id', 'Name', 'Exp', 'Location', 'Grade'}
print(employee)

{'Grade', 'Name', 'Location', 'Id', 'Exp'}

In [15]:
print(employee)

{'Grade', 'Name', 'Location', 'Id', 'Exp'}

In [18]:
employee = {'Id', 'Name', 'Exp', 'Location', 'Grade', 'Salary'}
print(employee)

{'Grade', 'Name', 'Location', 'Salary', 'Id', 'Exp'}

In [19]:
per_employee = {'Id', 'Name', 'Exp', 'Location', 'Grade'}
con_employee = {'Id', 'Name', 'Exp', 'Promoted', 'Salary'}
print(per_employee.intersection(con_employee)) # intersection

{'Id', 'Exp', 'Name'}

In [20]:
per_employee = {'Id', 'Name', 'Exp', 'Location', 'Grade'}
con_employee = {'Id', 'Name', 'Exp', 'Promoted', 'Salary'}
print(per_employee.difference(con_employee)) # difference

{'Grade', 'Location'}

In [21]:
per_employee = {'Id', 'Name', 'Exp', 'Location', 'Grade'}
con_employee = {'Id', 'Name', 'Exp', 'Promoted', 'Salary'}
print(per_employee.union(con_employee)) # union

{'Grade', 'Name', 'Location', 'Salary', 'Id', 'Promoted', 'Exp'}

In [22]:
# Emplty Lists
empty_list = []
empty_list = list()

# Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

# Empty Sets
empty_sets = {}
empty_sets = set()