In [1]:
people = {
    'first': ['Mallikharjun', 'Peter', 'Srini'],
    'last': ['Namagiri', 'Kata', 'Kata'],
    'email': ['mallik.namagiri@gmail.com', 'peter.kata@gmail.com', 'srini.kata@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2       srini.kata@gmail.com         Srini      Kata