In [6]:
person = {
    "first": "Mallikharjun",
    "last": "Namagiri",
    "email": "mallik.namagiri@gmail.com"
}

In [7]:
people = {
    "first": ["Mallikharjun"],
    "last": ["Namagiri"],
    "email": ["mallik.namagiri@gmail.com"]
}

In [17]:
people = {
    "first": ["Mallikharjun", "Peter", "Srini"],
    "last": ["Namagiri", "Kata", "Lotla"],
    "email": ["mallik.namagiri@gmail.com", "peter.kata@gmail.com", "srini.lotla@gmail.com"]
}

In [14]:
people["email"]

['mallik.namagiri@gmail.com', 'peter.kata@gmail.com', 'srini.lotla@gmail.com']

In [11]:
import pandas as pd

In [20]:
df = pd.DataFrame(people)

In [21]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2      srini.lotla@gmail.com         Srini     Lotla

In [22]:
df['email']

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
2        srini.lotla@gmail.com
Name: email, dtype: object

In [23]:
type(df['email'])

pandas.core.series.Series

In [24]:
df.email

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
2        srini.lotla@gmail.com
Name: email, dtype: object

In [26]:
df[['last', 'email']]

       last                      email
0  Namagiri  mallik.namagiri@gmail.com
1      Kata       peter.kata@gmail.com
2     Lotla      srini.lotla@gmail.com

In [27]:
df.columns # dislay the column names

Index(['email', 'first', 'last'], dtype='object')

In [28]:
df.iloc[0]

email    mallik.namagiri@gmail.com
first                 Mallikharjun
last                      Namagiri
Name: 0, dtype: object

In [29]:
df.iloc[[0, 1]]

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata

In [30]:
df.iloc[[0, 1], 0]

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
Name: email, dtype: object

In [31]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2      srini.lotla@gmail.com         Srini     Lotla

In [32]:
df.loc[0]

email    mallik.namagiri@gmail.com
first                 Mallikharjun
last                      Namagiri
Name: 0, dtype: object

In [33]:
df.loc[[0, 1]]

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata

In [34]:
df.loc[[0, 1], 'email']

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
Name: email, dtype: object

In [36]:
df.loc[[0, 1], ['first', 'email']]

          first                      email
0  Mallikharjun  mallik.namagiri@gmail.com
1         Peter       peter.kata@gmail.com