**Part - 2**

In [1]:
person = {
    "first": "Mallikharjun",
    "last": "Namagiri",
    "email": "mallik.namagiri@gmail.com"
}

In [2]:
people = {
    "first": ["Mallikharjun"],
    "last": ["Namagiri"],
    "email": ["mallik.namagiri@gmail.com"]
}

In [3]:
people = {
    "first": ["Mallikharjun", "Peter", "Srini"],
    "last": ["Namagiri", "Kata", "Kata"],
    "email": ["mallik.namagiri@gmail.com", "peter.kata@gmail.com", "srini.kata@gmail.com"]
}

In [4]:
people["email"]

['mallik.namagiri@gmail.com', 'peter.kata@gmail.com', 'srini.kata@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2       srini.kata@gmail.com         Srini      Kata

In [8]:
df['email']

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
2         srini.kata@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
df.email

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
2         srini.kata@gmail.com
Name: email, dtype: object

In [11]:
df[['last', 'email']]

       last                      email
0  Namagiri  mallik.namagiri@gmail.com
1      Kata       peter.kata@gmail.com
2      Kata       srini.kata@gmail.com

In [12]:
df.columns # dislay the column names

Index(['email', 'first', 'last'], dtype='object')

In [13]:
df.iloc[0]

email    mallik.namagiri@gmail.com
first                 Mallikharjun
last                      Namagiri
Name: 0, dtype: object

In [14]:
df.iloc[[0, 1]]

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata

In [15]:
df.iloc[[0, 1], 0]

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
Name: email, dtype: object

In [16]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2       srini.kata@gmail.com         Srini      Kata

In [17]:
df.loc[0]

email    mallik.namagiri@gmail.com
first                 Mallikharjun
last                      Namagiri
Name: 0, dtype: object

In [18]:
df.loc[[0, 1]]

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata

In [19]:
df.loc[[0, 1], 'email']

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
Name: email, dtype: object

In [20]:
df.loc[[0, 1], ['first', 'email']]

          first                      email
0  Mallikharjun  mallik.namagiri@gmail.com
1         Peter       peter.kata@gmail.com

In [21]:
df['email']

0    mallik.namagiri@gmail.com
1         peter.kata@gmail.com
2         srini.kata@gmail.com
Name: email, dtype: object

In [22]:
# Set index for a column
df.set_index('email')

                                  first      last
email
mallik.namagiri@gmail.com  Mallikharjun  Namagiri
peter.kata@gmail.com              Peter      Kata
srini.kata@gmail.com              Srini      Kata

**Part - 3**

In [23]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2       srini.kata@gmail.com         Srini      Kata

In [24]:
# Set index for a column
df.set_index('email', inplace=True)

In [25]:
df

                                  first      last
email
mallik.namagiri@gmail.com  Mallikharjun  Namagiri
peter.kata@gmail.com              Peter      Kata
srini.kata@gmail.com              Srini      Kata

In [26]:
df.index

Index(['mallik.namagiri@gmail.com', 'peter.kata@gmail.com',
       'srini.kata@gmail.com'],
      dtype='object', name='email')

In [27]:
df.loc['mallik.namagiri@gmail.com']

first    Mallikharjun
last         Namagiri
Name: mallik.namagiri@gmail.com, dtype: object

In [28]:
df.loc['mallik.namagiri@gmail.com', 'last']

'Namagiri'

In [29]:
df.iloc[0]

first    Mallikharjun
last         Namagiri
Name: mallik.namagiri@gmail.com, dtype: object

In [30]:
df.reset_index(inplace=True)

In [31]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2       srini.kata@gmail.com         Srini      Kata

**Part - 4 :** Filtering - Using Conditionals to Filter Rows and Columns

In [32]:
df

                       email         first      last
0  mallik.namagiri@gmail.com  Mallikharjun  Namagiri
1       peter.kata@gmail.com         Peter      Kata
2       srini.kata@gmail.com         Srini      Kata

In [33]:
df['last'] == 'Kata'

0    False
1     True
2     True
Name: last, dtype: bool

In [34]:
filt = (df['last'] == 'Kata')

In [35]:
# Method - 1
df[filt]

                  email  first  last
1  peter.kata@gmail.com  Peter  Kata
2  srini.kata@gmail.com  Srini  Kata

In [36]:
# Method - 2
df[df['last'] == 'Kata']

                  email  first  last
1  peter.kata@gmail.com  Peter  Kata
2  srini.kata@gmail.com  Srini  Kata

In [37]:
# Method - 3
df.loc[filt]

                  email  first  last
1  peter.kata@gmail.com  Peter  Kata
2  srini.kata@gmail.com  Srini  Kata

In [38]:
df.loc[filt, 'email']

1    peter.kata@gmail.com
2    srini.kata@gmail.com
Name: email, dtype: object

In [42]:
df.loc[filt, 'email']

2    srini.kata@gmail.com
Name: email, dtype: object

In [43]:
filt = (df['last'] == 'Kata') | (df['first'] == "Srini")

In [44]:
df.loc[filt, 'email']

1    peter.kata@gmail.com
2    srini.kata@gmail.com
Name: email, dtype: object

In [45]:
df.loc[~filt, 'email']

0    mallik.namagiri@gmail.com
Name: email, dtype: object

**Part-5 :** Updating Rows and Columns - Modifying Data Within DataFrames